doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a(href="/", aria-level="Golden Goose").navbar-brand.mr-0
      .mr-md-2
        img(src="/images/golden-goose.svg", width="36", height="36")
      .collapse.navbar-collapse 
        ul.navbar-nav.mr-auto 
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item 
            a.nav-link(href="/") Leads  
    h1= title
    p Welcome to #{title}
    form(action="/", method="POST")
      input(name="lead_email", type="email", placeholder="Enter your email address")
      button(type="submit") Submit
    if leads
      h1 Leads
      for lead in leads
        p(id=lead.id)
          span #{lead.email}
          | 
          a(href="/lead/" + lead.id) Details
          |
          button(onclick=`deleteLead('${lead.id}')`) Delete
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    include common/footer.pug
    +footer()
    script(src="/javascripts/leads.js")




  
